@{
    Layout = "_LayoutWithoutNavi";
}
@model BaseWeb.ViewModels.UserLoginViewModel

<div class="container" style="height:200px">
</div>
<div style="margin:auto;width:33%">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        <table>
            <tr>
                <th colspan="2" align="center">Login</th>
            </tr>
        </table>
        <div>
            @Html.LabelFor(m=>m.LoginId,new { @class="pr-3"})
            @Html.TextBoxFor(m=>m.LoginId)
        </div>
        <div>
            @Html.ValidationMessageFor(m=>m.LoginId,"", new{@class="text-danger"})
        </div>
        <div>
            @Html.LabelFor(m=>m.Password,new { @class="pr-3"})
            @Html.PasswordFor(m=>m.Password)
            <input type="checkbox" id="showPass"/>
        </div>
        <div>
            @Html.ValidationMessageFor(m=>m.Password,"", new{@class="text-danger"})
        </div>
        <div>
            <input type="submit" value="Log in" />
        </div>
    }
</div>
<script>
    $('#showPass').on('change',function(){x
        var checked = $(this).is(":checked");
        if(checked) {
            $("#Password").attr("type", "text");
        } else {
            $("#Password").attr("type", "password");
        }
    });
</script>