@{
    ViewData["Title"] = "Dashboard";
}

@model List<BaseWeb.ViewModels.ExpDateListViewModel>
<h3>Expiry Date</h3>
<div class="pb-5 expiryGrid">
    @foreach (var m in Model)
    {
        <h4 class="pt-3">@m.month</h4>
        @foreach (var item in m.exDateList)
        {
            @functions {
        public string GetClassFromStatus(String docType, DateTime ed)
        {
            string classRtn = "";
            if (docType != "Syarat" && (ed - DateTime.Today).TotalDays < 45)
            {
                classRtn = "red-label";
            }
            else if (docType == "Syarat" && (ed - DateTime.Today).TotalDays < 100)
            {
                classRtn = "yellow-label";
            }
            return classRtn;
        }
    }
            <div class="row m-2 d-lg-flex d-none " style="border-bottom:1px solid #ccc; ">
                <div class="col-1 @GetClassFromStatus(item.DocType,item.ExpiredDate)">
                    <span>@item.ExpiredDate.ToString("dd/MM/yyyy")</span>
                </div>
                <div class="col-3">
                    <span>@item.CustName</span>
                </div>
                <div class="col-1">
                    <span>@item.DocType</span>
                </div>
                <div class="col-6">
                    <span>@item.Description</span>
                </div>
                <div class="col-1">
                    <input type="button" class="btn btn-primary" onclick="removeExpDate('@item.id')" value="done" />
                </div>
            </div>
            <div class="pb-2 d-block d-lg-none">
                <div class="border h-auto">
                    <div class="card-header bg-transparent">
                        <span>Expiry Date: </span>
                        <span>@item.ExpiredDate.ToString("dd/MM/yyyy")</span>
                        <span class="mx-5">@item.DocType</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <span>@item.CustName</span>
                        </h5>
                        <span>@item.Description</span>
                    </div>
                </div>
            </div>
            <div class="pb-5 d-block d-lg-none">
            </div>

        }

    }
</div>

<script>
    function removeExpDate(id){
        $.ajax({
            type: "GET",
            url: "/Home/removeExpDate?id="+id,
            success: function (result) {

                if (result.success) {
                    location.reload();
                }
                else
                    swal("", result.message, "error");
            }
        });
    }
</script>